<p style="font-size:12px;text-align:right;float:left;margin-left:190px;margin-top:-1px">Сайт "Доступ до правди" створено за ініціативи <a href='http://uacentre.org.ua'>ГО "Центр UA"</a> на базі програмного забезпечення <a href="http://www.alaveteli.org/">Alaveteli</a> <br />
Фоловте нас на Facebook i Twitter</p>
<div style="float:right">
 <%= link_to image_tag('/alavetelitheme/images/centreua.png'), 'http://uacentre.org.ua', :id=>'centlogo' %>
</div>
