<p style="float:left;margin-top:-1px;margin-left:5px">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t16.5;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: number of pageviews for 24 hours,"+
" of visitors for 24 hours and for today is shown' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</p>
<p style="font-size:12px;text-align:right;float:left;margin-left:100px;margin-top:-1px">Сайт "Доступ до правди" створено за ініціативи <a href='http://uacentre.org.ua'>ГО "Центр UA"</a> на базі програмного забезпечення <a href="http://www.alaveteli.org/">Alaveteli</a> <br />
Фоловте нас на Facebook i Twitter</p>
<div style="float:right">
 <%= link_to image_tag('centreua.png'), 'http://uacentre.org.ua', :id=>'centlogo' %>
</div>


