<p>
  <span class="ohr"'>Зараз на сайті</span><br/><strong> <%= link_to "Запитів: "+InfoRequest.visible.count.to_s, request_list_all_path, :style=>"color:#666666;text-decoration:none;font-size:14px" %><br/>
  <%= link_to "Розпорядників\nінформації: "+PublicBody.visible.count.to_s, list_public_bodies_default_path, :style=>"color:#666666;text-decoration:none;font-size:14px" %></strong>
</p>
<p class="ohr">Дізнайтеся більше</p>
<iframe width="240"  src="//www.youtube.com/embed/NyPyh9Qtawk" frameborder="0" allowfullscreen></iframe>


