<h2>
  <%= _("<span style='font-size:24px;font-style:normal;'>Зараз на сайті</span><br/><strong>запитів: {{number_of_requests}}<br/>
  розпорядників<br/>інформації: {{number_of_authorities}}</strong>",
  :number_of_requests => InfoRequest.visible.count, :number_of_authorities => PublicBody.visible.count) %>
</h2>

