<p>
  <span class="ohr"'>Зараз на сайті</span><br/><strong>Запитів:   <%= link_to InfoRequest.visible.count.to_s, request_list_all_path, :style=>"color:#ffffff;text-decoration:none;font-size:14px" %><br/>
  Розпорядників<br/>інформації: <%= link_to PublicBody.visible.count.to_s, list_public_bodies_default_path, :style=>"color:#ffffff;text-decoration:none;font-size:14px" %></strong>
</p>

<iframe width="310" src="//www.youtube.com/embed/dMC8zCgH3SU" frameborder="0" allowfullscreen></iframe>


