<p><i><strong>9 травня 2011 року набув<br/>
чинності Закон України<br/></strong>
"Про доступ до публічної<br/>
інформації", який визначає<br/>
механізми реалізації одного з <br/>
основоположних прав людини —<br/>
права на отримання інформації<br/> 
<a href="<%= help_about_path %>">Дізнайся більше....</a></i></p>
