<span class="ohr">
  <%= _("Реалізуй своє право на доступ до публічної інформації") %>
</span>

<div id="stepwise" style="padding-top:20px">
  <%= link_to image_tag('/alavetelitheme/images/step1.png'), list_public_bodies_default_path, :id=>'mainsteps' %>

</div>

