<p>9 травня 2011 року набув 
чинності Закон України
"Про доступ до публічної
інформації", що визначає
механізми реалізації одного з 
основоположних прав людини —
права знати <br />
<a style="color:#F08143;text-decoration:none" href="<%= help_about_path %>">Дізнайся більше....</a></p>
