<div id="examples_1">
  Приклади запитів або останні запити
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
</div>
