<h4 class="part-title front-title">Топ запити</h4>
<div>
		<% tops.each do |ir| %>
			<section class="topzap">
				<p><strong><%= ir.title %></strong></p>
				<p><span class="tt-count"><%= ir.track_things.count %></span> слідкують за цим запитом</p>
				<%= link_to "Дізнатись більше", show_request_path(ir), :class=>"read-more-top top" %>
			</section>
		<% end %>
</div>
