<div class="pidpyska" style="margin-bottom: 20px">
  <script src="//web.webformscr.com/apps/fc3/build/loader.js" async sp-form-id="c4296ce787c4f2709f98017e7796bb64183b7fe7ebb3adab4e7cddeeda9353eb"></script>
</div>
<h4 class="part-title">Зараз на сайті</h4>
<div>
  <%= link_to list_public_bodies_default_path, style: "text-decoration:none" do %>
  	<span class="sidebar-count"><%=  PublicBody.visible.count %></span>
  	<span class="sidebar-count-text">розпорядників<br/>інформації</span>
  <% end %>

</div>
<div style="margin-top:10px">
  <%= link_to request_list_all_path, style: "text-decoration:none" do %>
  	<span class="sidebar-count"><%=  InfoRequest.is_searchable.count %></span>
  	<span class="sidebar-count-text">запитів</span>
  <% end %>
</div>
