<% @title = _("Now check your email!") %>
<p class="confirmation_message">
  Для завершення реєстрації перейдіть за посиланням, яке було надіслано на вашу пошту.
</p>

<p class="confirmation_message">
  Повідомлення могло потрапити в спам.
</p>
