<p>
  <%= link_to _('List of all authorities (CSV)'), all_public_bodies_csv_path %>
<br><hr><br>
  <%= link_to "Ми когось забули? Напишіть нам, якщо хочете додати розпорядника", help_contact_path %>
</p>
