<div id="content">
<div class="request-sent-message" id="notice">
  <h1>
    <%= _("Your requests will be <strong>sent</strong> shortly!") %>
  </h1>

  <div class="request-sent-message__row">
    <div class="request-sent-message__column-1">
      <p class="subtitle">
        <%= _("<strong>We will email you</strong> when they have been sent. " \
              "We will also email you when there is a response to any of them, or " \
              "after {{late_number_of_days}} working days if the authorities still " \
              "haven't replied by then.",
              :late_number_of_days => AlaveteliConfiguration::reply_late_after_days) %>
      </p>
    </div>

  </div>
</div>
</div>

