<p>
  Дякуємо, що оновили статус запиту!
</p>
<p>
  Якщо вам повідомили, в кого можна отримати інформацію, скопіюйте текст запиту та
  <%= link_to "знайдіть потрібного вам розпорядника в нашій базі", list_public_bodies_default_path %>
</p>
