<p>
Якщо ваш запит затримується більш ніж на 5 робочих днів, ви можете написати повторний запит із зазначенням, що у разі ненадання або надання неповної інформації, ви оскаржуватимете бездіяльність розпорядника  відповідно до статті 23 ЗУ «Про доступ до публічної інформації» до керівника розпорядника, вищого органу, суду або Омбудсмана.</p>
<p>
Якщо ви потребуєте поради юриста, напишіть нам за адресою dostuppravo@gmail.com.
</p>
