body {
color:#444;
font-family:Arial, sans-serif;
}

li {
list-style-type: none;
}

#banner {
background-repeat:no-repeat;
background-position:center top;
background-color:#FFFFFF;
}

#banner_inner a#logo {
    display: block; 
    margin-left: 120px; 
    top: 50px;
    z-index: 100;
    
}

#topnav {
font-family:'DeliciousRoman', Arial, sans-serif;
position:relative;
left:0;
height:auto;
overflow:auto;
z-index:100;
background-color:#000;
background:transparent;
top:120px;
margin-left:0px;
width:auto;
font-size:16px;
padding:0;
}

#dammit {
margin-top: 130px;
}

#topnav ul li.signed {
font-style:italic;
text-decoration:underline;
float:right;
right:0;
color:#6D839B;
padding: 10px 5px 10px 100px;
}

#topnav ul li {
  padding: 10px 5px;
}

#topnav ul li.signed a {
color:#6D839B;
}

#topnav ul li.signed a:hover {
color:#6D839B;
font-weight:bold;
}

#topnav li a,#topnav li a:visited {
color:#000000;
}

#topnav li a:hover, a:hover {
color:#231f20;
}

#topnav ul#navigation li a:hover {
color:#7d7d7d;
}

#topnav ul li.selected {
 background:url(../images/home-grad.png) repeat-x 0 10px;
}

#topnav ul li a {
color:#000000;
}

#logged_in_bar {
color:#444;
}

#logged_in_bar a,#logged_in_bar a:visited {
color:#92B3FF;
}

h1,h2,h3 {
 font-family:Trebuchet, Trebuchet MS, Helvetica, sans-serif;
 color:#555;
}

h1 {
color:#2178BA;
font-size:42px;
font-family:'DeliciousBold', Arial, sans-serif;
}

h2 {
font-size:1.4em;
}


h2,dt {
color:#2178BA;
font-family:'DeliciousBold', Arial, sans-serif;
font-weight:400;
}

h3 {
color:#1679BC;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
}

a {
color:#6E829B;
font-style:italic;
}

p.subtitle {
font-family:'DeliciousRoman';
color:#6B3C7F;
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
color:#1679BC;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
font-style:normal;
}

.request_listing span.desc {
background:url(/images/quote-marks.png) no-repeat;
color:#444;
}

.feed_link a,.act_link a,#header_right > a {
color:#5C6F8A;
}

.feed_link,.act_link {
margin-bottom:0;
padding:0;
}


#request_form label,label.form_label {
color:#2178BA;
font-size:20px;
}

span#to_public_body {
color:000000;
}

#request_form label,label.form_label {

display:block;
float:left;
clear:none;
width:160px;
text-align:right;
margin:2px 0 0;
padding:0 10px 0 0;

}

span#to_public_body {
font-family:'DeliciousBold', Arial, sans-serif;
}

#middle_strip {
color:#2178BA;
}

#stepwise_make_request {
background-color:#d0d0d0;
background:url(/images/stripes.png);
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#5C6F8A;
}

div.comment_in_request {
background:url(/images/stripes-70-light2.png);
border-color:#5F5F5F;
border-style:dotted;
border-width:1px;
}

#request_form label,label.form_label {
font-family:'DeliciousRoman', Arial, sans-serif;
}

#navigation_search input[type=text] {
 border-color:#BE7DBC;
}


form input[type=submit],a.link_button_green,a.link_button_green_large {
background-color:#6E819C;  
font-family:'DeliciousRoman', Arial, sans-serif;
background-image: none;
border:none;
text-shadow:none;
border-radius:10px;
-moz-border-radius:10px;
font-size:16px;
font-style:italic;
}


div.frontpage-box {
background:url(/images/stripes.png);
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#5C6F8A;
}


div.correspondence,div.comment_in_request {
background:url(/images/stripes-70.png);
}

div.outgoing.correspondence {
background:url(/images/stripes-70-light.png);
}

#frontpage_splash {
background:none;
margin-top:-40px;
height:320px;
}

#frontpage_splash #left_column {
line-height:20px;
margin-top:66px;
}

#frontpage_splash h1 {
font-family:'DeliciousRoman', Arial, sans-serif;
font-size:20px;
color:#2178BA;
font-weight:400;
margin:0 0 20px;
}

#frontpage_splash h1 strong {
font-family:'DeliciousHeavyRegular', Arial, sans-serif;
font-size:34px;
color:#2178BA;
font-weight:400;
}

#frontpage_splash h1 span {
font-family:Georgia;ic
font-style:italic;
font-weight:400;
font-size:25px;
color:#5C6F8A;
}

#frontpage_splash h2 {
font-size:26px;
font-weight:400;
color:#231F20;
font-family:'DeliciousRoman', Arial, sans-serif;
}

#frontpage_splash h2 strong {
font-size:26px;
color:#2178BA;
font-family:'DeliciousBold', Arial, sans-serif;
}

#frontpage_splash h2 span {
color:#5C6F8A;
font-style:italic;
font-size:19px;
font-family:Georgia;
}splash



#stepwise {
  height:130px;
  margin:0;
  padding:0;
  
}

.steps {
  margin:0;
  padding:0;
  font-size:16px;
}

.steps-in {
  font-size:14px;
  margin:0;
  padding:0;
}

.steps-in li {
  float:left;
  margin:5px;
  padding:0;
}


.steps-in li p.small {
  margin-top: 25px;
}

.steps-in li img.pic {
  display: block; 
  margin: 10px auto 30px;
}

.steps li {
  float:left;
  margin:0 5px;
  padding:0;
}

.steps li img.pic {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}


.steps li img#folks {
  margin-top: 18px;
}


.steps li img#quest {
  margin-top: 5px;
}


.steps li img#dots {
  margin-top: 24px;
}

.steps li img#but {
  margin-top:5px;
  cursor:pointer;
}


.steps li a {
  text-decoration:none;
  color:#444444;
  
}

.steps li a:hover {
  text-decoration:none;
  color:#444444;
  cursor: auto;
}

#frontpage_splash #frontpage_right_to_know {
  margin-top:100px;
  font-size:16px;
}

#frontpage_examples div#examples_1 {
float:left;
margin-right:10;
width:68%;
}

#frontpage_splash #frontpage_search_box {
margin-top:40px;
}

#ui-datepicker-div.ui-widget {
font-family:Arial, sans-serif;
color:#2178BA;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
color:#2178BA;
font-family:'DeliciousRoman';
}

#ui-datepicker-div .ui-state-default:hover {
background:#DEB4D8;
color:#FFF;
}

#ui-datepicker-div .ui-state-active {
background:#D093C7;
color:#FFF;
}

#other-country-notice {
background:#2178BA;
color:#FFF;
}

p.public-body-name-prefix {
color:#DEB4D8;
}

#other-country-notice a {
color:#FFF;
}


#link_box {
position:absolute;
text-align:left;
background-color:#FFF;
z-index:999;
opacity:0.9px;
border-radius:6px;
-moz-border-radius:6px;
border:1px solid #2178BA;
display:none;
padding:5px;
}

#link_box .close-button {
background-color:#2178BA;
margin-left:15px;
padding:0;
}

div.correspondence p.preview_subject {
font-family:'DeliciousRoman';
color:#6B3C7F;
}

div.correspondence p.preview_subject strong {
color:#6B3C7F;
}

div.controller_help h1 a,#logged_in_bar a,#logged_in_bar a:visited,#stepwise_make_request strong {
color:#2178BA;
}


body.front {
background:url(../images/home-grad.png) repeat-x 0 160px;
}

#content {
background:url(../images/kliuch.png);
background-repeat:no-repeat;
background-position:bottom; 
min-height:800px;
}


.request_listing span.desc {
background:url(../images/quote-marks.png) no-repeat;
}

#frontpage_examples .excerpt {
background:url(../images/quote-marks.png) no-repeat;
}

#follow_count {
 color: #2178BA;
}


.tip { 
    position:relative !important;
   
} 

.tip > .tooltipB {
    display:none;
}


.tip:hover > .tooltipB {
    display:block;
}

.tooltipB {
    background: #5C6F8A; 
    -moz-box-shadow: 0 0 6px 1px #666666;
    -webkit-box-shadow: 0 0 6px 1px #666666;
    box-shadow: 0 0 6px 1px #666666;
    border:solid #FFFFFF;
    color: #E7E7E7;
    min-width:200px;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 10;
}

.request_listing span.bottomline {
font-size:1.4em;
}

#examples_1 {
min-height:320px;
}

#user_profile_search {
margin-top:30px;
}

.controller_user {
min-height:320px;
}


#left_column_flip h2 {
  color:#231f20;
  font-style:italic;
  font-size:18px;
}

#left_column_flip_search {
  margin:25px 0 50px 0;
}

#left_column_flip_search form input[type=text] {
  width:500px;
  font-size:1em;
}

body#bluebodies {
  background:url(../images/home-grad.png) repeat-x 0 25px;
}

.bottomline a {
  font-size:16px;
  text-decoration:underline;
  margin-left:15px;
}


.request_listing,.user_listing,.body_listing {
border-bottom:none;
}

#contact_preamble {
  margin:40px 0 30px 240px;
  font-size:18px;
  font-style:italic;
}

#contact_preamble ul li{
 list-style-image:url(../images/lil-blu.png);
 margin-top:10px;
}

#contact-form {
  margin-left:60px;
  min-height:600px;
}

.form_item_note,.form_note {
margin-left:170px;
font-style:italic;
}

.form_button {
margin:0 0 0 12em;
}

#left_column_flip {
margin-top:30px;
}

#foi_results_section {
  margin-top:10px;
}

#filter_requests_form label.title,h3.title {
display:inline-block;
float:none;
width:120px;
margin-left: -130px;
}

.list-filter-item {
margin-left:240px;
}

#request_header {
background:none;
margin-left:80px;
}

#request_form {
margin-left:80px;
}

.steps-in li.blu{
list-style-image:url(../images/lil-blu.png);
width:540px;
margin-top:40px;
margin-left:60px;
font-size:18px;
font-style:italic;
}

#request_list {
margin-top:15px;
}

#request_list h1 {
font-size: 1.7em;
}

#signin {
font-size:16px;
}
