<% content_for :head do %> 
        <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path('covid2.jpg')}" %>" />
        <meta property="og:image:width" content='1920'/>
        <meta property="og:image:height" content='1025'/>
<% end %> 

<% provide:title, "Як отримати інформацію про боротьбу з COVID-19 в Україні?" %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<section class="hero  is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-spaced is-1" style="text-align: center">
      Як отримати інформацію про боротьбу з COVID-19 в Україні?
      </h1>
      <h2 class="subtitle" style="text-align: center">

      <%= link_to "Доступ до правди", "https://dostup.pravda.com.ua", class: "back-button" %>

      </h2>
    </div>
  </div>
</section>

<style>

li {
        position: relative;
}

.fa-li {
        left: -10px;
        position: absolute;
        width: 2em;
        line-height: inherit;
        top: 16px;
}

.back-button:hover {
        background-color: white;
        color: black !important;
}
.box li {
        padding: 10px 20px;
}

.container {
        max-width: 1152px;
}
</style>

<section class="section">

  <div class="container">
    <p >Пропонуємо вашій поради для написання запитів про інформацію про боротьбу з COVID19 в Україні.</p> 
    <p>Наші публікації на цю тему ви можете переглянути <strong><a class="covid-link" href="https://dostup.pravda.com.ua/publications?tag=covid">тут</a></strong></p>
    <p style="padding-bottom: 20px;">Запити про COVID19, зроблені через Доступ до правди - <strong><a class="covid-link" href="https://dostup.pravda.com.ua//list/all?tag=covid">тут</a></strong></p>

  <h2 class="title is-2">Визначення належного розпорядника</h2>

  <p>
      Залежно від територіального рівня, щодо якого вам потрібна інформація та
      предмету запиту, розпорядником можуть бути:
  </p>
  <ul class=" box">
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Офіс Президента України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Кабінет Міністрів України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Міністерство охорони здоров’я України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Міністерство фінансів України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Міністерство соціальної політики України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Міністерство внутрішніх справ України;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Обласні, міські, районні управління МВС;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Обласні державні адміністрації/районні державні адміністрації;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Лікарні, інші медичні заклади зі сфери МОЗ, приватні клініки;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Міські, селищні ради, обласні та районні ради, ОТГ;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Державна судова адміністрація, апеляційні суди, відповідні місцеві
              суди;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Антимонопольний комітет України та його регіональні відділення;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Приватні організації, які володіють інформацією стосовно
              матеріального забезпечення, кількісних та якісних показників вжитих
              або вжиття заходів протидії COVID2019 благодійні фонди, комерційні
              товариства та підприємства, громадські об’єднання, політичні партії
              тощо.
      </li>
  </ul>
  <p class="box notification is-danger">
      Подача запиту до неналежного розпорядника – це відсутність відповіді або втрата часу!
  </p>  
  <h3 class="title is-2">Підказки для вибору розпорядника:</h3>
  <ul class="box">
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Закупівля ліків, обладнання за кошти бюджету будь-якого рівня — 
              <strong>
                  МОЗ, ланка облдержадміністрацій, місцеві ради та ОТГ;
              </strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Отримання ліків, обладнання в якості гуманітарної допомоги від
              інших країн, міжнародних організацій, резидентів України бізнес,
  фінансово-промислові групи, меценати — <strong>Міністерство соціальної політики, безпосередні отримувачі</strong>;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Отримання та витрачання фінансової допомоги від інших країн,
              міжнародних організацій, резидентів України бізнес,
              фінансово-промислові групи, меценати — 
              <strong>
                  Міністерство фінансів України, безпосередні отримувачі;
              </strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Кількісні та якісні показники притягнення до відповідальності за
              порушення умов карантину, інших вимог режиму карантину,
              надзвичайних ситуацій, надзвичайного стану за умови введення – це
              може бути інформація про – скільки за якими статтями КУпАП, КК
              притягнуто, в якому регіоні, які санкції було застосовано,
              повторність вчинення, знеособлені дані про правопорушників – вік,
              стать, рід занять тощо — <strong>структура МВС;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Кількісні та якісні показники розгляду справ в судах щодо порушень
              режиму карантину, надзвичайних ситуацій, надзвичайного стану за
              умови введення — <strong>ДСА, апеляційні та місцеві суди</strong>;
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Підстава, рішення, структура та строк вжитих заходів на
  національному та/або регіональному рівні щодо протидії COVID2019 — <strong>ОП, КМУ, МОЗ, місцеві ради та ОТГ;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Кількість людей, які захворіли, вилікувались, померли, знаходяться
  на обсервації, карантині, обстежених з підозрою наявності вірусу — <strong>МОЗ, відповідні ОДА та місцеві ради, ОТГ;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Кількість громадян України, які повернулись, в які регіони, трафік
  через кордон України, засоби пересування тощо — <strong>Державна прикордонна служба, МВС, МОЗ;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Створення спеціальних державних та/або приватних фондів, які
              акумулюватимуть та витрачатимуть кошти для закупівлі матеріалів,
              організації заходів щодо боротьби з COVID2019 на національному та
              регіональному рівнях — 
              <strong>
                  державні установи, благодійні фонди або громадські об’єднання
                  – розпорядники цих фондів, якщо такі фонди не будуть
                  самостійними юридичними особами;
              </strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Необхідність та рівень забезпечення + витрачання бюджетних коштів
              на заходи протидії, забезпечення належних санітарно-гігієнічних
              умов, проведення дезінфекційних заходів в т.ч. в громадському
              транспорті тощо — 
              <strong>
                  МОЗ по лінії лікарень, МВС по своїй структурі, ДСА по лінії
                  судів, Мінфін, місцеві ради та ОТГ;
              </strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Рівень забезпечення на національному та регіональному рівнях,
              кількість та якість обладнання і медпрепаратів, ліків, ліжкомісць
  для хворих тощо — <strong>МОЗ, ОДА, лікарні, місцеві ради та ОТГ;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Які заходи передбачено у випадку зростання кількості хворих на
  національному та регіональному рівнях, чи є план дій на цих рівнях — <strong>КМУ, МОЗ, ОДА, місцеві ради та ОТГ;</strong>
      </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
              Зловживання кількісні та якісні показники, реагування, притягнення
              до відповідальності у сфері цін на товари, послуги, продукти
  харчування, ліки тощо — <strong>АМКУ та його регіональні відділення.</strong>
      </li>
  </ul> 

  <p style="margin:20px 0;font-size: 18px;font-weight:700;">
    <a target="_blank" class="covid-link" href="https://dostup.pravda.com.ua/body/list/all">
      Вибір розпорядника на Доступі до правди
    </a>
  </p>

  
  <h3 class="title is-2">Лайфхаки при формулюванні питань:</h3>
  <ul class="box">
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            запит — це про інформацію, а не думки, коментарі або позиція
            розпорядника чи посадової особи щодо певних подій. <strong style="color: #f14668">За наявності в
            запиті прохань «відреагувати, вжити заходів, висловити думку»,
            запит буде розглядатись, як звернення громадян протягом місяця</strong>;
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            питання має бути <strong style="color: #f14668">максимально конкретним та вузьким</strong>, застосовувати
            обмеження – по предмету, регіону, часу, особах, якщо запитуєте
            документ — бажано зазначити назву та реквізити;
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            не вписуйте в один запит «25 питань з різних тем» (один запит –
            одна тема, якщо тема велика – розбивайте на частини). Наслідки
            подання великих запитів – продовження строку відповіді до місяця та
            оплата, якщо відповідь більше 10 сторінок «паперової» відповіді;
    </li>
</ul>
<h3 class="title is-2">Приклади формулювання питань:</h3>
<ul class="box">
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки підготовлено ліжко-місць в медустановах та закладах Вінницької
    області (звужуємо по регіону) для приймання хворих на коронавірус (звужуємо
    по колу осіб) станом на _____________ (звужуємо по часу);
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
 Скільки у Вінницькій області (місті Вінниця, Тульчинському районі
    Вінницької області) станом на 27 березня 2020 року апаратів для вентиляції
    легень; зазначте відповідно до кількості рік випуску, виробника та
    серію/марку апаратів?
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки станом на 27 березня 2020 року в місті Винниця закуплено для
    потреб лікарень та медичних установ/закладів засобів дезінфекції для
    приміщень, зазначте кількість, виробника та марку відповідного засобу поруч
    із кількістю /аналогічно – засоби захисту для лікарів, поліції, інших
    служб, а саме – маски, костюми, - кількість, виробник та марки/?
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Надайте повну специфікацію та дані про кількість, вартість та виробника
    кожного типу тесту для виявлення COVID-19, які станом на 27 березня 2020
    року є в розпорядженні лікарів міста Харкова;
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Надайте інформацію про кількість тестів для виявлення COVID2019 кожного
    типу, які закупила Україна з 01 січня 2020 року по 27 березня 2020 року та
    їх вартість;
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Надайте інформацію про кількість тестів для виявлення COVID2019 кожного
    типу, які було вироблено в Україні з 01 січня 2020 року по 27 березня 2020
    року та їх вартість;
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки було витрачено коштів на придбання тестів для виявлення COVID2019
    кожного типу з 01 січня 2020 року по 27 березня 2020 року, за чий рахунок
    здійснювалося придбання із зазначенням відповідних сум та типів тестів;
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки було складено протоколів про адміністративні правопорушення та
    порушено кримінальних проваджень у сфері протидії епідемії COVID2019 в
    місті Харків станом на 27 березня 2020 року, зазначте кількість за
    відповідними статтями КУпАП та КК України? Які санкції було застосовано до
    правопорушників, скільки і за якими статтями КК справ передано до суду?
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки справ щодо зловживань монопольним становищем та у сфері
    ціноутворення на товари/послуги було відкрито АМКУ (регіональним
    відділенням АМКУ в ___________ області) з 01 березня 2020 року по 27
    березня 2020 року, за якими фактами? Які санкції накладено на порушників,
    вид порушення та санкція?
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
     Скільки коштів виділено з бюджету міста Дніпро на заходи протидії
    COVID2019 станом на 27 березня 2020 року, зазначте статті витрат та суми?
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки і якого медичного обладнання, ліків та медпрепаратів, заходів
    персонального захисту було придбано для протидії COVID2019 за рахунок
    бюджету _______________ області/міста/селища станом на 27 березня 2020
    року, зазначте постачальників та закупівельні ціни;
</li>
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Скільки та якої допомоги було надано меценатами, громадянами, приватними
    організаціями для протидії COVID2019 у місті Рівне станом на 27 березня
    2020 року, як зазначену допомогу було витрачено, розподілено?
</li>
</ul>
<h3 class="title is-2">Лайфхаки при оформленні запиту:</h3>
    <ul class="box">
<li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    Закон «Про доступ до публічної інформації» не вимагає зазначати, до кого ви
    звертаєтесь із запитом (розпорядника), ця опція не є обов’язковою.
    Вважається, що хто отримав запит – до того запитувач і звертається;
</li>

    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            Чітко розмежовуйте, від кого запит — від юридичної чи від фізичної
            особи з наведенням відповідних і необхідних даних запитувача;
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            «Живий» підпис потрібен тільки у випадку, коли запит подається в
            письмовій формі. Для подачі усного запиту або електронною поштою
            підпис запитувача не потрібен;
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            Ситуація з пандемією в світі і можливою епідемією в Україні
            COVID2019 дозволяє вимагати надання відповіді на запит до 48 годин
(ч.2 ст.20 ЗУ про доступ),            <strong>таке клопотання має бути обґрунтованим в запиті. </strong>
            Підстави – інформація необхідна для захисту життя чи свободи особи,
            щодо стану довкілля, якості харчових продуктів і предметів побуту,
            аварій, катастроф, небезпечних природних явищ та інших надзвичайних
            подій, що сталися або можуть статися і загрожують безпеці громадян.
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            Ситуація з пандемією в світі і можливою епідемією в Україні
            COVID2019 дозволяє вимагати безкоштовно будь-якого обсягу відповіді
            у випадку «паперового варіанту» надання інформації (ч.4 ст.21 ЗУ
про доступ). Підстава, яку також            <strong>потрібно обґрунтувати в запиті</strong> – інформація
            становить суспільний інтерес. Орієнтовний перелік критеріїв
            суспільно значимої інформації наведено у ст.29 ЗУ про інформацію.
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
            До стандартного шаблону сайту «Доступ до правди» можна також додати
            посилання на:
            <ul>
            <li>
            частини 5 статті 6 Закону України «Про доступ до публічної
            інформації» не може бути обмежено доступ до інформації про
            розпорядження бюджетними коштами, володіння, користування чи
            розпорядження державним, комунальним майном, у тому числі до копій
            відповідних документів, умови отримання цих коштів чи майна,
            прізвища, імена, по-батькові фізичних осіб та найменування
            юридичних осіб, які отримали ці кошти або майно.
    </li>
    <li>
            ст. ст. 4, 6 Закону України «Про забезпечення санітарного та
            епідемічного благополуччя населення» громадяни мають право на
            достовірну і своєчасну інформацію про стан свого здоров'я, здоров'я
            населення, а також про наявні та можливі фактори ризику для
            здоров'я та їх ступінь, а підприємства, установи і організації
            мають право на одержання від органів виконавчої влади, місцевого
            самоврядування, а також відповідних органів і закладів охорони
            здоров'я інформації про стан здоров'я населення, санітарну та
            епідемічну ситуацію, нормативно-правові акти з питань забезпечення
            санітарного та епідемічного благополуччя населення та санітарні
            норми.
    </li>
    <li>
            ст.17 Закону України «Про захист населення від інфекційних хвороб»
            громадяни та їх об'єднання мають право на отримання достовірної
            інформації щодо епідемічної ситуації в Україні, а органи виконавчої
            влади та органи місцевого самоврядування, органи державної
            санітарно-епідеміологічної служби та заклади охорони здоров'я
            зобов'язані періодично повідомляти через засоби масової інформації
            про епідемічну ситуацію та здійснювані протиепідемічні заходи.
    </li>
            </ul>
    </li>
    
</ul>

<p class="notification">

        Наостанок велике прохання. Шановні запитувачі, зберігайте спокій та
        здоровий глузд, запитуйте інформацію та документи, які дійсно необхідні
        для здійснення громадського контролю, професійної журналістської
        діяльності, висвітлення суспільно-значущих тем та запобігання
        зловживанням. Безпідставний тролінг розпорядників, які працюють в
        надзвичайних умовах із великим навантаженням та великими ризиками для
        життя та здоров’я (особливо лікарні та система охорони здоров’я,
        патрульні МВС, інші служби) є неприпустимим у теперішніх умовах.

</p>

<p style="font-size:18px">

        <strong>Автор - Олександр Бурмагін, юрист, ГО «Платформа прав людини»</strong>

</p>


<p style="margin:20px 0;font-size: 18px;font-weight:700;">
<a target="_blank" class="button is-link" href="https://dostup.pravda.com.ua/body/list/all">
  Зробити запит
</a>
</p>

  </div>
</section>
