<% provide(:title, "Хто відповідає на запити?") %>
<div class="intro">
	<div style="width:1170px;margin:auto">
    <h1>Хто відповідає на наші запити<span style="font-size:100px;color: #E15F42">?</span></h1>
	  <div style="padding-left: 100px">
		  <p>
		    <%= link_to "«Доступ до правди»", "https://dostup.pravda.org.ua", style:"font-weight:700" %> запускає серію публікацій про розпорядників публічної інформації «Хто відповідає на наші запити?». Керівник проекту – журналіст «Доступу» Наталія Патрікєєва.
		  </p>
		  <p>
        У проекті буде зібрано та проаналізовано інформацію про чисельний склад відділів публічної інформації органів влади та місцевого самоврядування, заробітки працівників цих відділів та їхнє робоче навантаження.
		  </p>
      <p>
        Також «Доступ» планує представити репортажі про роботу розпорядників публічної інформації та інтерв’ю про робочі моменти комунікації громадян та органів влади, а мета проекту – зрозуміти, чому ця комунікація часом виявляється неефективною. Хто в цьому винний – той, хто запитує, чи той, хто відповідає?
      </p>
		  <p style="text-align:center;margin-top:20px;">
        <%= link_to "На Доступ до правди", "https://dostup.pravda.com.ua", class: "back-button"%>
      </p>
	  </div>
  </div>
</div>
<div class="boo">
	<% @articles.each do |a| %>
	  <p><i style="padding-right:10px;color: #2c96b8;vertical-align: 4px" class="fa fa-envelope-open"></i><%= link_to a.title, category_publication_path(a.category, a) %></p>
	<% end %>
</div>
