<div style="font-size: 16px;">
  <p>
    Якщо ви отримали <strong>відписку</strong>, радимо прочитати поради Олександра Бурмагіна (Платформа прав людини), та Віти Володовської
    (Центр демократії та верховенства права):
  </p>
  <p>
    <a href="https://dostup.pravda.com.ua/stories/publications/yakshcho-vam-pryslaly-vidpysku-zamist-vidpovidi-5-chitkykh-kontrudariv">Якщо вам прислали відписку замість відповіді: 5 чітких контрударів</a>
  </p>
  <p>
    <a href="https://dostup.pravda.com.ua/stories/publications/yakshcho-vam-pryslaly-vidpysku-zamist-vidpovidi-2-kontrarhumenty-vid-iurystiv">Якщо вам прислали відписку замість відповіді – 2: контраргументи від юристів</a>
  </p>
  <p>
  Ви можете написати <strong>повторний запит</strong> із зазначенням, що у разі ненадання або надання неповної інформації, ви оскаржуватимете бездіяльність розпорядника  відповідно до статті 23 ЗУ «Про доступ до публічної інформації» до керівника розпорядника, вищого органу, суду або Омбудсмана.</p>
  <p>
  <p>
  Якщо отримана відповідь потребує <strong>юридичного коментаря</strong>, напишіть нам в редакцію - dostuppravo@gmail.com.
  </p>
</div>
