$orange: #e15f42;
$blue: #2c96b8;

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  background: white;
  font-family: Arial, sans-serif;
  font-size: 14px
}

#content {
  background: white;
  padding-bottom: 80px
}

#wrapper { width: 980px; }

.right_column {
  margin-bottom: 20px
}

#banner_inner {
  position: relative;
  font-family: "Helvetica Neue";
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
   width: 100%;
}

.up a {
  color: #8c8c8c;
}

.up:hover {
  color: $blue;
}

.rozdily { 
  padding-left: 0;
  display: table-row;
}

.rozdily li {
  display: table-cell;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rozdily li a {
  text-decoration: none;
}

.rozdily li a:hover {
    color: $blue;
}

.site-parts {
  width:40%;
  margin: auto
}

#upravda {
  display: table;
  border-collapse: collapse;
  border: none;
}

.fillin {
  background-color: #d8d8d8;
  height: 60px
}

.header {
  padding-top: 10px;
}

.header section {
  float: left
}

.socials {
  width:16%;
  margin-top: 15px;
}

.title {
  width: 56%
}

.socials a {
  padding-left: 8px;
  padding-right: 8px;
}

.logo-img {
  padding: 0 12px;
}

.search-icon img {
  margin-top: 11px;
}

.login-button {
  background-color: $orange;
  border: 1.5px solid $orange;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: white;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  margin-top:17px
}

.login-button:hover {
  color: white;
  background-color: #AA2C12;
  border: 1.5px solid #AA2C12;
}

.login-button img {
  position: absolute;
  top: 6px;
  margin-right:5px
}

.login-button span {
  margin-left:25px
}

.login {
  
  margin-left: 10px;
}

.search {
  margin-left:25px
}

.wrapper {
  width: 980px;
  margin: auto;
}

.top-section {
  border-bottom: 1px solid #bfbfbf;
}

.bottom-section {
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  margin-top: 65px
}

.main-nav {
  width: 510px; /* 440 */
margin: auto
}

.main-nav ul li {
  padding: 10px;
  font-size: 12px;
}

.main-nav ul li a {
  color: black
}

.infoot {
  width: 980px;
  margin: auto;
  padding-top: 10px;
}

.infoot p {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin-left: 20px
}

.infoot a {
  color: white
}

.push { height: 120px; }

.footer {
  clear: both;
  height: 84px;
  background: #404040;
  bottom: 0;
}

.footer-l {
  float: left;
}

.footer-r {
  float: right;
}

li { list-style-type: none; }

.orange-link {
  color: $orange;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
}

.orange-link:hover {
  color: $blue;
}

/* FRONTPAGE */


.ed-choice {
  float: left;
  width: 33%;
  height: 510px;
  background-color: #f2f2f2;
}

.choice-title {
  height: 60px;
  color: $orange;
  padding-top: 30px;
  font-family: "Helvetica Neue";
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.how-to-title {
  float:right;
  position: relative;
  width: 65.5%;
  color: $orange;
  font-family: "Helvetica Neue";
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  background-color: #f2f2f2;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset -1px -1px 3px rgba(60, 60, 60, 0.5), inset -1px 1px 3px rgba(255, 255, 255, 0.5);
}

.how-to-steps {
  margin-top: 10px;
  width: 642px;
  float: right;
  position: relative
}

.orange-button {
  position: absolute;
  color: white;
  background-color: $orange;
  padding: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  bottom: 100px;
  left: 20px;
  font-weight: 500;
  font-size: 14px;
}

.orange-button:hover {
  background-color: #AA2C12;
  color: white;
}

.count1 {
  position: absolute;
  left: 182px;
  bottom: 145px;
}

.count2 {
  position: absolute;
  left: 20px;
  bottom: 145px;
}

.fp-count {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.fp {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.part-title {
  color: $orange;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.topzap {
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 5px;
}

.read-more-top {
  border: 1.5px solid $orange;
  color: $orange;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
}

.read-more-top:hover {
  color: $orange;
  border: 2.5px solid $orange;
}

.tt-count {
  color: #e15f42;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
}

.righties {
  float: right;
}

.main-part-left {
  width: 69%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CONTACT */

.econtact_prepost {
  font-size: 12px;
}

#request_form label, label.form_label {
  padding-right: 5px;
  float: left;
  width: 128px;
  color: $orange;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}


.how-table tr td {
  padding: 5px
}

form input[type="submit"] {
  background-color: $orange;
  background-image: none;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border: 1px solid $orange;
text-shadow: none;
font-size: 14px;
font-weight: 700;
line-height: 17px;
padding: 7px !important;
}

form input[type="submit"]:hover {
  background-color:#AA2C12
}

.part-right {
  float: right;
  width: 32%
}

.how-works h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: $orange
}

.how-works a {
  color: black
}

.list-sidebar a:hover, .how-works a:hover {
  color: $blue
}

.here-now a {
  background-color: black;
  color: white;
  font-size: 33px;
  font-weight: 400;
  line-height: 39px;
  text-decoration: none;
  padding: 3px;
}

.sidebar-count {
  display: table-cell; 
  vertical-align:middle;
}

.sidebar-count-text {
  display: table-cell; 
  vertical-align:middle;
  padding-left:5px
}

.bullets li {
  list-style-type: square;
      padding: 5px;
  a {
      color: black;
  }
}

.list-sidebar {
  background-color: #f2f2f2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

/* CHOOSE */

.pb-categories a {
  color: #686868;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none
}

.pb-categories a:hover {
  color: $orange;
}

.pb-list {
  margin-left: 0;
  padding-left: 0
}

form#pb-search-form {
  width:100%;
}
#pb-input {
  padding:6px 15px;
  width: 76%;
}
#pb-submit {
  position:relative;
  padding:7px 14px;
  left:-8px;
  background-color:$orange;
  color:#fafafa;
}
#pb-submit:hover  {
  background-color:#AA2C12;
}

.body_listing {
  border-style: none;
  a {
    color: black;
  }
  a:hover {
    color: #AA2C12;
  }
}

.steps-sidebar {
  background-color:#f2f2f2; 
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 7px 23px;
  margin-top: 20px
}

/* NEW REQUEST */

.form_item_note {
  margin-left:128px
}

.form_item_note a {
  color: $orange;
}

.form_item_note a:hover {
  color: $blue;
}

#typeahead_search {
  width:80%
}

#request-body {
  width:80%;
  float: right;
  padding:5px
}

/* LIST REQUESTS */

#req-list-form {
  width: 80%
}

#ud1, #ud2 {
  width:38% !important
}

.filter-request-types {
  margin-left: 128px;
  color: $orange;
  a {
    color: black;
    text-decoration: none
  }
  a:hover {
    color: $orange
  }
  span {
    margin-right:20px
  }
}

h2.foi_results {
  font-size: 20px
}

.req-title a {
  font-size: 16px;
  color: black;
  font-weight: 700;
}

.req-title a:hover {
  color: $orange
}


.requester p {
  font-size: 14px;
  color: black;
}

.requester a {
  color: black;
  font-weight: 500;
}

.bottomline {
  color: #565656
}

.track-link {
  background-color: $blue;
  padding: 7px;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;  
  border: 1px solid $blue;
  font-weight: 400;
}

.track-link:hover {
  color: white;
  text-decoration: none !important;
  background-color: #227791;
  border: 1px solid #227791;
}

#notice {
  background-color: #CEE4EA !important;
  color: black;
  border: 2px solid $blue
  a {
    color: $blue;
  }
  a:hover {
    color: #227791;
  }
}

/* SHOW REQUEST */

.request-title {
  color: black;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
p.subtitle {
  font-size: 12px;
}

p#request_status {
  font-size: 12px;
  padding: 0 0 10px 35px !important;
  
  a {
    color: black;
  }
  a:hover {
    color: $blue
  }
}

.subtitle a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.subtitle a:hover {
  color: $blue
}

.wtf li {
  float: left;
  width: 50%
}

.request_icon_line {
  color: #959595;
}

div.outgoing.correspondence {
  clear: both;
  background-color: whitesmoke;
  border: none;
  width:80%;
  float: left;
}
div.incoming.correspondence {
  clear: both;
  background-color: whitesmoke;
  border: none;
  width:80%;
  float: right;
}

.act_link a {
  color: black;
}

.act_link a:hover{
  color: $blue;
  text-decoration: none;
}

.comment_new a {
  color: black
}

.comment_new a:hover {
  color: $blue
}

#comment_body {
  width: 100%
}

div.comment_in_request {
    border-color: $blue;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 1em 0;
    overflow: auto;
    padding: 0 0.5em;
    width: 100%;
}

.username {
  text-decoration:none; 
  font-weight:700; 
  color: $orange;
}

.username:hover {
  color: #AA2C12;
}

.mys {
  color: $blue;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.mys:hover {
  color: #227791;
}

#user_show .header_left a, #user_wall .main-part-left a, .blinks, .main-part-left.single-req a {
  color: black
}

#user_show .header_left a:hover, #user_wall .main-part-left a:hover, .blinks:hover, .main-part-left.single-req a:hover {
  color: $blue;
}

#describe_state_form_1 {
  background-color: #CEE4EA !important;
  border: 2px solid $blue
}

.public-body-ranking-title {
  color: $orange;
  font-size:16px;
}

.left-col {
  float: left
}

.right-col {
  float: right
}


.pub-title-index {
padding: 0;
margin: 0;
font-size: 20px;
font-weight: 700;
line-height: 25px;
}
