<h2>#Насудзадоступ - адмінпанель</h2>
<p style="font-size:20px"><%= link_to "Кейси", admin_cases_path %></p>
<p style="font-size:20px"><%= link_to "Порушення права на інформацію", admin_violations_path %></p>
<p style="font-size:20px"><%= link_to "Пожертвування", admin_donations_path %></p>
<p style="margin-top:20px;font-size:20px">
  <%= link_to "публічна сторінка", nasud_path %>
</p>
