<h1>Публікації</h1>
<%= @aaaa %>
<a class="btn btn-primary" href="/admin/publications/new">Додати публікацію</a>
<% @publications.each do |p| %>
<h3> <%= link_to p.title, admin_publication_path(p.id) %> </h3>
<% end %>
