<div id="content">
  <div class="request-sent-message" id="notice">
    <h1>
      Ваш запит було відправлено.
    </h1>
    <div class="request-sent-message__row">
      <div class="request-sent-message__column-1">
        <p>
          Ми повідомимо вам, коли надійде відповідь або у випадку, якщо відповідь на запит затримуватиметься.
        </p>
        <p>
          Для того, щоб впевнитися, що розпорядник отримав ваш запит, радимо наступного робочого дня передзвонити до нього та запитати вхідний номер.
        </p>
      </div>
    </div>
  </div>
</div>
