<%= @outgoing_message.body.strip %>

-------------------------------------------------------------------
<%= _('Це повідомлення було надіслане через сайт "Доступ до Правди", призначення якого - надання можливості громадянам надсилати запити про публічну інформацію з подальшою публікацією цих запитів та відповідей на них') %>
-------------------------------------------------------------------
